# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Compatibility
*.swp
*.lock
*~.nib

## Shared commits
*.pyc

## Builds
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
# Add this line if you want to avoid checking in the Package.resolved file
# Package.resolved
.build/
Packages/

## Cocoapods
# We recommend checking in Pods/ for smaller projects/teams
# Pods/
